<div class="p-4">
  <div *ngIf="!loading && !user" class="">
    <!-- Skeleton loader for input and button -->
    <app-landingpage></app-landingpage>
  </div>
  <div class="w-full flex justify-center">
    <div class="flex items-center">
      <label for="voice-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />
          </svg>
        </div>

        <input type="text" id="username" [(ngModel)]="username" (keyup.enter)="search()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 "
          placeholder="Search Github Usernames..." required>

      </div>
      <button type="submit" (click)="search()"
        class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
        <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>Search
      </button>
    </div>
  </div>

  <div *ngIf="loading" class="my-4">
    <app-loading></app-loading>
  </div>


  <div *ngIf="!loading && user">


    <div class="p-4 mt-4 w-full  bg-white border border-gray-200 rounded-lg shadow ">

      <app-userdetails [user]="user"></app-userdetails>
      <app-repositories [repos]="repos" [repoLanguages]="repoLanguages"></app-repositories>

      <div *ngIf="repos.length > 0" class="my-4">
        <div class="flex items-center justify-center">
          <label class="mr-2">Repositories per page:</label>
          <input [(ngModel)]="perPage" (ngModelChange)="changePerPage(perPage)" type="text" id="small-input"
            class="block w-fit p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 ">
        </div>

        <div class="pagination flex justify-between lg:justify-center items-center mt-4">
          <button [disabled]="page === 1" (click)="changePage(page - 1)"
            class="bg-blue-700 text-white px-4 py-2 rounded mr-2 h-14">Previous</button>
          <div class="flex flex-wrap justify-between">
            <ng-container *ngFor="let pageNum of totalPages()">
              <div *ngIf="loading" class="bg-gray-300 h-8 w-8 mx-1 rounded"></div>
              <button
                *ngIf="!loading"
                [ngClass]="{'active': page === pageNum}"
                (click)="changePage(pageNum)"
                class="bg-blue-700 text-white px-4 py-2 rounded mr-2"
              >
                {{ pageNum }}
              </button>
            </ng-container>
          </div>
          <button [disabled]="repos.length < perPage" (click)="changePage(page + 1)"
            class="bg-blue-700 text-white px-4 py-2 rounded h-14">Next</button>
        </div>
      </div>
    </div>
  </div>

</div>